header {
    width: 100%;
    height: 100px;
    background-color: #3D8E27;
    color: #022A35;
    text-align: center;
}
header i {
    color: white;
    height: 40px;
    width: 40px;
}
img {
    height: 60px;
    width: 60px;
}

span {
    border-radius: 0.2rem;
    padding: 2px;
}

.dailyCards {
    border-radius: 8px;
}